<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlUWad_w-wonTQ4uxecP5WKUbuOFHxlXw</string>
	<key>GCM_SENDER_ID</key>
	<string>630332041411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geminiv3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>inferno-solutionchallenge-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>inferno-solutionchallenge-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630332041411:ios:6aed889a377a608bad5a76</string>
</dict>
</plist>